/* 초기화 */

* {
    margin : 0; padding : 0;
}

a { text-decoration : none; }

li { list-style : none; }

/* 기본 클래스 */

.pull-left { float : left; }
.pull-right { float : right; }

/* 페이지 구성 */
body {
    width: 1960px; margin : 0 auto;
    background: #E6E6E6;
}

#page-wrapper {
    background : white;
    margin: 40px 0; padding : 10px 20px;
    border-radius : 5px;
    box-shadow : 0 2px 6px rgba(100, 100, 100, 0.3) ;
}
/* main section */
#content {overflow: hidden;}

#main-section {
    float: left;
    width: 1900px;
}
/* 테이블 스타일 */
.table_list {
    position: relative;
    float: left;
    width: 70%;
    height: 660px;
}

.room_table {
    display: block;
    border-collapse: collapse;
    border: 2px solid #000;
    position: relative; 
    margin: 50px 50px;
}

.room_table th { border: 1px solid #000; background: rgb(128, 128, 128); }
.room_table td { border: 1px solid #000; border-top: 0; }
.room_table tbody {
    display: block;
    height: 500px;
    overflow: auto;
}

.room_table tbody::-webkit-scrollbar {
width: 19px;
}
.room_table tbody::-webkit-scrollbar-thumb {
background-color: #2f3542;
border-radius: 19px;
background-clip: padding-box;
border: 2px solid transparent;
}
.room_table tbody::-webkit-scrollbar-track {
background-color: grey;
box-shadow: inset 0px 0px 5px white;
}
.room_table th:nth-of-type(1), .room_table td:nth-of-type(1) { width: 611.8055px; }
.room_table th:nth-of-type(2), .room_table td:nth-of-type(2) { width: 611.8055px; }
.room_table td:last-child { width: calc( 611.8055px - 19px );  }

th, td {
    text-align: center;
    font-size: 25px;
    height: 53px;
}
th{
    background-color: gray;
}

.right_container {
    position: relative;
    float: left;
    width: 30%;
    height: 630px;
}

.mem_info {
    position: relative;
    width: 80%;
    height: 223px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border: 1px solid black;
}

.sub_enter {
    position: absolute;
    width: 36%;
    height: 70px;
    margin-left: 10%;
    margin-top: 250px;
}

.btn_make_room {
    position: absolute;
    width: 36%;
    height: 70px;
    margin-left: 54.5%;
    margin-top: 250px;
}

.btn_log_out {
    position: relative;
    float: right;
    width: 160px;
    height: 30px;
    margin: 30px 57px;
}

input[type=button] {
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    width: 160px;
    height: 100%;
}

input[type=submit] {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}